#search-bar {
    text-align: center;
}

#search-box {
    margin: auto;
    width: 400px;
    max-width: 500px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    position: relative;
    font-family: Poppins;
    font-size: 25px;
    outline: none;
}

#search-box :focus {
    outline: none;
}

#search-results {
    margin-top: 100px;
    padding: 0 15px 0 15px;
}

#search-options {
    padding-top: 20px;
    font-size: 16px;
    vertical-align: middle;
}

#search-options label {
    padding-left: 0;
    padding-right: 10px;
}

.search-block {
    max-width: 500px;
    min-height: 100px;
    position: relative;
    display: block;
    background-color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.search-block.project:hover {
    border: 2px solid #E97451;
}

.search-block.person:hover {
    border: 2px solid #3498DB;
}

/*
.search-block a {

    text-decoration: none;
    display: inline-block;
    line-height: 25px;
    color: inherit;

}

.search-block a:after {

    display: block;
    content: '';
    border-bottom: 2px solid black;
    transform: scaleX(0);
    transition: transform 250ms ease-out;
    transform-origin: 100% 50%;

}

.search-block a:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}
*/

.search-block .mini {
    font-size: 16px;
    text-align: right;
    margin: 0;
}

.search-block .main {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin: 0;
    margin-right: 10px;
    display: inline-block;
}

.skills {
    position: absolute;
    top: 10px;
    right: 2px;
    display: flex;
    align-items: center;
}

.skill-icon {
    vertical-align: middle;
    padding-right: 8px;
    color: #505050;
    transition: 0.3s;
}

.skill-icon:hover {
    color: blue;
    cursor: default;
}

.search-block .sub {
    font-weight: 800;
    font-size: 14px;
    text-align: left;
}

.search-block .sub .notscream {
    font-weight: normal;
}

.search-block .moresub {
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    max-width: 100%;
    line-height: 20px;
    overflow: hidden;
}

.search-block .vertical {
    border-left: 6px solid green;
    height: 500px;
}

.searchline {
    max-width: 200px;
    color: black;
    text-align: center;
    border: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.largesearchline {
    max-width: 400px;
    color: black;
    text-align: center;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}
