.error {
    color: red;
    text-align: center;
}

#user {
    margin: 0 auto;
    max-width: 1000px;
}

#user a {
    text-decoration: none;
    color: inherit;
}

.name {
    font-family: Poppins;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.role {
    font-family: Poppins;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.avatar {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 12%;
}

.about {
    padding: 20px;
    padding-left: 50px;
}

.skills {
    padding: 20px 50px;
}

.links {
    padding: 20px 50px;
}

.extra {
    padding: 20px 50px;
}

.cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 170px);
    row-gap: 20px;
}

.long-cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 270px);
    row-gap: 20px;
}

.cards a {
    width: 150px;
    height: auto;
    text-decoration: none;
}

.long-cards a {
    width: 250px;
    height: auto;
    text-decoration: none;
}

.linked {
    padding-bottom: 10px;
}

.card {
    width: 150px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.long-card {
    width: 250px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card:hover {
    background-color: #F5F5F5;
}

.long-card:hover {
    background-color: #F5F5F5;
}

.card-icon {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
}

#user .fas, #user .fab {
    padding-top: 25px;
    font-size: 48px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.card-text {
    text-align: center;
    width: inherit;
    font-size: 14px;
}

.card-value {
    text-align: center;
    width: inherit;
    font-size: 12px;
    color: gray;
    overflow-wrap: break-word;
}

/*
.skill-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill-item {
    display: flex;
    align-items: center;
}

.skill-item-icon {
    padding-right: 8px;
}

.skill-item-text {
    font-size: 14px;
    line-height: 100%;
    margin: 5px;
}
*/

.title {
    font-family: Poppins;
    font-size: 16px;
    text-align: left;
    font-weight: 800;
}
